@use 'sass:map';

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xlplus: 1440px,
	xxl: 1620px,
	xxxl: 1920px
) !default;
$container-sizes: (
	sm: 100%,
	md: 1160px,
	lg: 1560px
) !default;

@mixin container {
	@extend %container;

	max-width: map.get($container-sizes, 'lg');

	@media screen and (max-width: map.get($grid-breakpoints, 'xxl')) {
		max-width: map.get($container-sizes, 'md');
	}

	@media screen and (max-width: map.get($grid-breakpoints, 'xl')) {
		max-width: map.get($container-sizes, 'sm');
	}
}

@mixin responsive-width($breakpoints-map) {
  @each $breakpoint, $width in $breakpoints-map {
    @media (min-width: map.get($grid-breakpoints, $breakpoint)) {
      max-width: $width;
    }
  }
}
