*.log
nuxt.d.ts

# ignore all env files except .env.example
.env*
!*.env.example

# deps
node_modules

# build or generate
.nuxt
dist
.output
.data

# IDE
.idea
.vercel

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Tests
coverage

# Cache
.eslintcache

# AI
.cursor
.cursorrules
.windsurfrules
.kiro
memory-bank

# Public
public/.well-known

# Auth
.auth-token
