*.log
nuxt.d.ts

# ignore all env files except .env.example
.env*
!*.env.example

# deps
node_modules

# build or generate
.nuxt
dist
.output

# IDE
.idea
.vercel

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Tests
coverage

# Cache
.translator_cache
