// components
::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background: theme('colors.gray.100');
	border-left: 1px solid theme('colors.gray.200');
}

::-webkit-scrollbar-thumb {
	border: 4px solid theme('colors.gray.100');
	background-clip: padding-box;
	border-radius: 9999px;
	background-color: theme('colors.slate.300');
}

::-webkit-scrollbar-thumb:hover {
	background-color: theme('colors.slate.400');
}

html.dark {
	background-color: theme('colors.zinc.950');

	::-webkit-scrollbar-track {
		background: theme('colors.slate.800');
		border-left: 1px solid theme('colors.slate.700');
	}

	::-webkit-scrollbar-thumb {
		border-color: theme('colors.slate.800');
		background-color: theme('colors.slate.500');
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: theme('colors.slate.400');
	}
}

html,
body
{
	@apply bg-zinc-50 text-primary-950 dark:bg-zinc-950 dark:text-primary-50;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#__nuxt {
  @apply bg-zinc-50 text-primary-950 dark:bg-zinc-950 dark:text-primary-50;
}

app {
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: grid;
}

img {
	image-rendering: crisp-edges;
	content-visibility: auto;
}

a {
	&.active {
		@apply bg-primary-100 dark:bg-primary-900;
	}
}
