@import 'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap';

// vars
@import 'variables';

// common
@import 'commons';

// native slider
@import 'native-slider-core';

// cookies
@import 'cookies';

// animations
@import 'animations/transitions';

// components
::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background: theme('colors.gray.100');
	border-left: 1px solid theme('colors.gray.200');
}

::-webkit-scrollbar-thumb {
	border: 4px solid theme('colors.gray.100');
	background-clip: padding-box;
	border-radius: 9999px;
	background-color: theme('colors.slate.300');
}

::-webkit-scrollbar-thumb:hover {
	background-color: theme('colors.slate.400');
}

html {
	min-width: 360px;
}

html.dark {
	background-color: theme('colors.gray.900');

	::-webkit-scrollbar-track {
		background: theme('colors.slate.800');
		border-left: 1px solid theme('colors.slate.700');
	}

	::-webkit-scrollbar-thumb {
		border-color: theme('colors.slate.800');
		background-color: theme('colors.slate.500');
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: theme('colors.slate.400');
	}
}

html,
body {
	@apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100;

	scroll-behavior: smooth;
}

img {
	image-rendering: crisp-edges;
	object-fit: contain;
	content-visibility: auto;
}

// stylelint-disable-next-line selector-id-pattern
#__nuxt {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
