@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 100%;
  }

  .base-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 100%;
  }

  .container {
    @apply base-container;
  }

  .container-sm {
    @apply base-container;

    @include responsive-width((
      'sm': 540px,
      'md': 720px,
      'lg': 960px,
      'xl': 1140px,
      'xlplus': 1320px,
    ));
  }

  .container-xs {
    @apply base-container;

    @include responsive-width((
      'md': 480px,
      'lg': 540px,
      'xl': 720px,
      'xlplus': 960px,
    ));
  }

  .container-xxs {
    @apply base-container;

    @include responsive-width((
      'sm': 240px,
      'md': 360px,
      'lg': 480px,
      'xl': 640px,
      'xlplus': 800px,
    ));
  }

  .circle {
    @apply w-8 h-8 rounded-full;
  }

  .form-select {
    @apply block w-full text-base px-3 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500;
  }
}
